body {
  background-color: #f5f7fb;
}
body {
  font-family: "Poppins", sans-serif;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}
.card {
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}
.active {
  text-decoration: line-through;
  opacity: 0.7;
}
